<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.su.periodictable">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logopt"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logopt"
        android:supportsRtl="true"
        android:theme="@style/Theme.Navygayion15">
        <activity
            android:name=".TrendActivity"
            android:exported="false" />
        <activity
            android:name=".GraphActivity"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- OR Other activities like this And  intent filter is not necessary in other activites -->
        <activity
            android:name=".InfoActivity"
            android:exported="true" />
    </application>

</manifest>